In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
#print out schools
for school in high_schools:
        print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [20]:
#print out highschool and type from dict
for index in range(len(high_school_types)):
    for key, value in high_school_types[index].items():
        print(key, value)

High School Griffin
Type District
High School Figueroa
Type District
High School Wilson
Type Charter
High School Wright
Type Charter

In [24]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [25]:
# Add Pandas dependency
import pandas as pd

In [26]:
#create pandas series from list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [27]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [28]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [29]:
# convert array/list of dicts to dataframe
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [30]:
# Three separate lists of information on high schools step1
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [31]:
# Initialize a new DataFrame step2
schools_df = pd.DataFrame()

In [37]:
# Add the list to a new DataFrame step3
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df["type_of_school"] = type_of_school
# Print the DataFrame step4
schools_df

,School ID,school_name,District,District,Charter,District,Charter,type_of_school
0,0,Huang High School,NaN,NaN,NaN,NaN,NaN,District
1,1,Figueroa High School,NaN,NaN,NaN,NaN,NaN,District
2,2,Shelton High School,NaN,NaN,NaN,NaN,NaN,Charter
3,3,Hernandez High School,NaN,NaN,NaN,NaN,NaN,District
4,4,Griffin High School,NaN,NaN,NaN,NaN,NaN,Charter

In [41]:
# Create a dictionary of information on high schools, pringt and put to df
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
schools_df
schools_df = pd.DataFrame(high_schools_dict)
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [42]:
# show just col
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [43]:
# show just row header
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [44]:
# show just values/data
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)